<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>오늘의 추천곡</title>
</head>
<body>
	<h1>오늘의 추천곡</h1>
	<hr>
	<h2 th:text="*{MyModel.title}">난 음악 안들어</h2>
	<h2 th:text="*{MyModel.artist}"></h2>
	<h2 th:text="*{MyModel.desc}"></h2>

	<table border="1" width="80%" style="text-align: center">
		<tr>
			<td>제목</td>
			<td>작곡가</td>
			<td>추천사유</td>
		</tr>
		<tr th:object="${MyModel}">
			<td th:text="*{title}"></td>
			<td th:text="*{artist}"></td>
			<td th:text="*{desc}"></td>
		</tr>
	</table>
</body>
</html>